body {
    background-color: #5d5d5d;
    height: 2000px;
}

/* Start Header */
#header {
    background-image: url(../images/simple-house-01.jpg);
    background-attachment: fixed;
    height: 500px;
    background-position: center;
    position: relative;
}

#header .logo .logo-img,
#header .logo .logo-text {
    display: inline-block;
}

#header #my-navbar {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#header .logo .logo-img {
    width: 50px;
}

#header ul li.active {
    border-bottom: 1px solid snow;
}

#header ul li {
    cursor: pointer;
    transition: .5s ease-in-out;
}

#header ul li:hover {
    border-bottom: 1px solid snow;
}

/* Start Menu Styles */
#menu .menu-btn {
    padding-top: 10px; 
    padding-bottom: 10px;
    width: 30%;
    transition: .3s ease-in-out;
}

#menu .card {
    border: none
}

#menu .card .card-header,
#menu .card .card-footer {
    background: none;
    border: none;
}